<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Meeting App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/login">SignIn </a>

      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/signup">SignUp </a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <div class="d-flex justify-content-center h-100">
    <div class="card">
      <div class="card-header">
        <h3>Sign-In</h3>
      </div>
      <div class="card-body">
        <form>
          <label for="Password">Password</label>
          <div class="input-group form-group">
            <input type="password" [(ngModel)]="password" name="password" class="form-control"
              placeholder="Enter Password" />
          </div>
          <label for="Password">Re-Type Password</label>
          <div class="input-group form-group">
            <input type="password" [(ngModel)]="password1" name="password1" class="form-control"
              placeholder="Re-Enter Password" />
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-outline-success" (click)="newPasswordReset()">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
